Options -MultiViews -Indexes
RewriteEngine On

# Jangan arahkan /api, /js, dan file fisik
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_URI} !^/js/
RewriteRule ^(.*)$ /index.html [L,QSA]
